body {
    background: rgb(111, 111, 233);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#decimal{
    padding:25px 0px 10px;

}

#botao{
    text-align: center;
    padding: 10px 0px 10px;
}

.butver{
    width: 100px;
    text-align: center;
    padding: 15px 15px ;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #7b99db;
    font-size: 18px;
    color: white;

}

#res{

    text-align: left;

}